body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}


main {
  flex: 1;
}

footer {
  display: grid;
  place-content: center;
  margin-bottom: 2.5%;
}

.products {
  display: flex;
  justify-content: center;
}

.product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product img {
  max-width: 100%;
}

.product-info {
  padding: 1rem;;

}

.product-info > a {
  text-decoration: none;
  color: inherit;
  flex: wrap;

}